$navMenu:250px;
$navMenuMin:64px;
$mainColor: #f56c6c;
$layoutHeader:75px;


@mixin webkit($type,$value){
  #{$type}: $value;
  -webkit-#{$type} : $value;
  -o-#{$type}: $value;
  -ms-#{$type} : $value;
  -moz-#{$type}: $value;
}

@mixin labelDom($align,$width,$line-height:"normal"){
  label{
    float: left;
    text-align:$align ;
    width:$width+px;
    line-height: $line-height+px;

  }
  .wrap-content{
    margin-left: 80px;
  }
}
